transaction@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;

    --light: #F9F9F9;
    --blue: #3C91E6;
    --light-blue: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #342E37;
    --red: #DB504A;
    --yellow: #FFCE26;
    --light-yellow: #FFF2C6;
    --orange: #FD7238;
    --light-orange: #FFE0D3;
    --pink: #ed56de;
}

@font-face {
    font-family:Barbie;
    src: url(Barbie-font.ttf);
}

html {
    overflow-x: hidden;
}

body {
    background: var(--light);
    overflow-x: hidden;
}





/* SIDEBAR */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: var(--pink);
    z-index: 2000;
    font-family: var(--lato);
    /*  font-family: Barbie;*/
    transition: .3s ease;
    overflow-x: hidden;
    scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
    display: none;
}
#sidebar.hide {
    width: 60px;
}



#sidebar .panel {
    font-size: 40px;
    font-weight: 700;
    height: 50px;
    display: inline-block;
    align-items: center;
    color: var(--light);
    position: sticky;
    top: 15px;
    left: 50px;
    /*  background: var(--light);*/
    z-index: 500;
    padding-bottom: 20px;


    box-sizing: content-box;
}

#sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
}

#sidebar .side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 15px;
    margin-right: 15px;
    padding: 4px;
}

#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-size: 15px;
    font-weight: normal;
    color: var(--light);
    font-weight: 500;
    white-space: nowrap;
    overflow-x: hidden;
    text-shadow: 1px 1px 1px #0000;
}

#sidebar .side-menu li a:hover {
    background: var(--light);
    color: pink;
}

#sidebar .side-menu li a:visited {
    background: var(--light);
}


#sidebar .side-menu li a.logout {
    color: var(--red);
    position: relative;
    top: 350px;
}

#sidebar .side-menu li a .bx {
    min-width: calc(60px  - ((4px + 6px) * 2));
    display: flex;
    justify-content: center;
}
/* SIDEBAR */





/* CONTENT */
/*code from tutorial with the default content page, later change with custom profile content*/
#content {
    position: relative;
    width: calc(100% - 280px);
    left: 25%;
    transition: .3s ease;
}

.left {
    font-size: 40px;
    font-weight: 500;
    /*  font-family: Barbie;*/

    color: var(--blue);
    height: 50px;
    width:100%;
    display: flex;

    position: relative;
    top: 15px;
    right: 7%;
    padding-bottom: 20px;
    padding-left: 20px;

}



/*Profile*/

.card {
    position: relative;
    right:10%;
    width: 100%;
    border-radius: 30px;
    padding: 10rem !important;
}

.name {
    font-size: 15px;
    font-weight: bold;
    color: #272727;
    position: relative;
    top: -100px;
    left: -100px;
}

ul,li {
    margin: 0;
    list-style-type: none
}

input {
    display: block;
    outline: none;
    border: none!important
}

textarea {
    display: block;
    outline: none
}

textarea:focus,input:focus {
    border-color: transparent!important
}

button {
    outline: none!important;
    border: none;
    background: 0 0
}

button:hover {
    cursor: pointer
}

iframe {
    border: none!important
}

.limiter {
    width: 100%;
    margin: 0 auto
}

.container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #ed56de;
    background: -webkit-linear-gradient(45deg,#4158d0,#c850c0);
    background: -o-linear-gradient(45deg,#4158d0,#c850c0);
    background: -moz-linear-gradient(45deg,#4158d0,#c850c0);
    background: linear-gradient(45deg,#4158d0,#c850c0);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.wrap-table100 {
    width: 1170px
}

table {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -120px;
    left: -10px;
}

table * {
    position: relative
}

table td,table th {
    padding-left: 8px
}

table thead tr {
    height: 60px;
    background: #56baed
}

table tbody tr {
    height: 50px
}

table tbody tr:last-child {
    border: 0
}

table td,table th {
    text-align: left
}

table td.l,table th.l {
    text-align: right
}

table td.c,table th.c {
    text-align: center
}

table td.r,table th.r {
    text-align: center
}

.table100-head th {
    /*     font-family: OpenSans-Regular; */
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset
}

tbody tr {
    /*     font-family: OpenSans-Regular; */
    font-size: 15px;
    color: gray;
    line-height: 1.2;
    font-weight: unset
}

tbody tr:hover {
    color: #555;
    background-color: #f5f5f5;
    cursor: pointer
}

.column {
    width: 100px;
    padding-left: 40px
}

.column1 {
    width: 222px;
    padding-left: 40px
}

.column2 {
    width: 160px
}

.column3 {
    width: 245px
}

.column4 {
    width: 110px;
    text-align: right
}

.column5 {
    width: 170px;
    text-align: right
}

.column6 {
    width: 150px;
    text-align: right;
    padding-right: 62px
}

.column7 {
    width: 200px;
    text-align: center;
    padding-right: 62px
}

@media screen and (max-width: 992px) {
    table {
        display:block
    }

    table>*,table tr,table td,table th {
        display: block
    }

    table thead {
        display: none
    }

    table tbody tr {
        height: auto;
        padding: 37px 0
    }

    table tbody tr td {
        padding-left: 40%!important;
        margin-bottom: 24px
    }

    table tbody tr td:last-child {
        margin-bottom: 0
    }

    table tbody tr td:before {
        font-family: OpenSans-Regular;
        font-size: 14px;
        color: #cc0996;
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0
    }

    table tbody tr td:nth-child(1):before {
        content: "Date"
    }

    table tbody tr td:nth-child(2):before {
        content: "Order ID"
    }

    table tbody tr td:nth-child(3):before {
        content: "Name"
    }

    table tbody tr td:nth-child(4):before {
        content: "Price"
    }

    table tbody tr td:nth-child(5):before {
        content: "Quantity"
    }

    table tbody tr td:nth-child(6):before {
        content: "Total"
    }

    .column4,.column5,.column6 {
        text-align: left
    }

    .column4,.column5,.column6,.column1,.column2,.column3 {
        width: 100%
    }

    tbody tr {
        font-size: 14px
    }
}

@media(max-width: 576px) {
    .container-table100 {
        padding-left:15px;
        padding-right: 15px
    }
}

